.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
}

.header__logo {
  height: 80px;
  object-fit: contain;
  box-sizing: initial !important;
}

.header__icon {
  padding: 20px;
  box-sizing: initial !important;
}

.MuiButton-root {
  color: rgba(0, 0, 0, 0.54) !important;
}
